html {
    height: 100%;
}

body {
    height: 100%;
}

.navbar {
    background-color: lightblue;
    min-height: 50px;
    margin-bottom: 0;
}

.sidebar {
    background-color: beige;
    padding: 30px 7px 7px 7px;
    height: 100%;
    display: table-cell;
    float: none;
}

#content-area {
    display: table-cell;
    float: none;
    padding-left: 100px;
}

.row-unique {
    height: 100%;
    display: table;
}

.img-centered {
    margin: 0 auto;
    width: 60%;
}

#slideshow {
    margin-top: 50px;
}